<div class="footer-col-wrapper">

  <div class="footer-col">
    <div class="copyright">
      {% assign year_from = site.posts[-1].date | date: '%Y' %}
      {% assign year_to   = site.time | date: '%Y' %}
      {% if year_from == nil or year_from == year_to %}
        {% assign year_string = year_from %}
      {% else %}
        {% assign year_string = year_from | append: '&nbsp;' | append: '-' | append: '&nbsp;' | append: year_to %}
      {% endif %}
      {% if site.author %}
      <p>网站拥有者 © {{ year_string }} {{ site.author }}; 拥有所有权利.</p>
      {% endif %}
    </div>
    <p>
      简单说明 <a href="https://github.com/helloyizhengjun/helloyizhengjun.github.io">超链接</a> & <a href="https://github.com/helloyizhengjun/helloyizhengjun.github.io">超链接2</a>
    </p>
  </div>

  <div class="footer-col">
    <p>{{ site.description | escape }}</p>
  </div>
</div>
